* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
}

a {
    text-decoration: none;
    outline: none;
}

.primary__cta {
    font-size: 14px;
    padding: 10px 25px;
    background-color: #6544FF;
    color: #fff;
    border-radius: 100px;
    border: 1px solid #6544FF;
    text-decoration: none;
}

header {
    padding: 20px 0;

    .header__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            img {
                width: 158px;
                height: 100%;
                object-fit: contain;

                @media(max-width:460px) {
                    width: 120px;
                }
            }
        }

        nav {
            ul {
                display: flex;
                align-items: center;
                // gap: 30px;

                li {
                    list-style: none;
                    margin-right: 22px;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        font-size: 14px;
                        font-weight: 500;
                        color: #464958;
                        text-decoration: none;

                        &:hover {
                            color: #6544FF;
                        }
                    }
                }

            }

            @media (max-width:800px) {
                display: none;

            }

        }

        .button__wrap {
            display: flex;
            align-items: center;
            gap: 15px;

            .primary__link {
                font-size: 16px;
                font-weight: 500;
                color: #464958;
                text-decoration: none;
            }

            @media (max-width:800px) {
                display: none;

            }
        }
    }


}

.heroSection {
    .heroSection_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;

        background:
            radial-gradient(ellipse 50% 60% at 50% 0%,
                rgba(74, 58, 255, 0.2) 0%,
                rgba(74, 58, 255, 0) 100%,
            );

        margin-bottom: 240px;

        .heroSection_badge {
            margin-top: 90px;
            display: flex;
            align-items: center;
            gap: 8px;

            padding: 9px 16px;

            margin-bottom: 19px;

            border: 1px solid #CCC8FF;
            border-radius: 28px;
            background: #fff;

            @media (max-width:800px) {
                padding: 4px 16px;

            }


            img {
                width: 18px;
                height: 18px;
                object-fit: contain;
            }

            p {
                color: #4A3AFF;
                font-size: 14px;
                font-weight: 600;
                margin: 0;

            }

        }

        h1 {
            font-size: 72px;
            line-height: 1.06;
            letter-spacing: -4%;
            margin-bottom: 20px;

            span {
                color: #4A3AFF;
            }

            @media (max-width:800px) {
                font-size: 48px;

            }

        }

        p {
            color: #737373;
            max-width: 645px;
            width: 100%;
            line-height: 27px;
            margin-bottom: 38px;
        }

        .heroSection_buttons {
            display: flex;
            align-items: center;
            gap: 8px;

            .primary_button {
                font-size: 15px;
                padding: 13px 29px;
                background: #6544FF;
                border: 1px solid #6544FF;
                border-radius: 38px;
                color: #fff;
                box-shadow: 0 7px 18px rgba(101, 68, 255, 0.28);


            }

            .secondary_button {
                font-size: 15px;
                padding: 13px 29px;
                background: #fff;
                border: 1px solid #D1C8FF;
                border-radius: 38px;
                color: #6544FF;
                box-shadow: 0 7px 18px rgba(101, 68, 255, 0.28);

            }
        }
    }
}

.blueSection {
    background: #4A3AFF;

    .blueSection_banner {
        display: flex;
        align-items: center;
        justify-content: center;
        // padding-bottom: 40px;

        img {
            margin-top: -134px;
            max-width: 1000px;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

}

.WorkSection {
    padding: 90px 0;

    .workSection_title {
        text-align: center;
        padding-bottom: 31px;

        h1 {
            font-size: 40px;
            font-weight: 600px;
            padding-bottom: 12px;
        }

        p {
            color: #737373;
            max-width: 520px;
            margin: auto;
            width: 100%;
            line-height: 27px;
            text-align: center;
        }
    }

    .workSection_boxes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        @media(max-width:1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(max-width:770px) {
            grid-template-columns: 1fr;
            // align-items: center;
        }

        .workSection_box {
            position: relative;
            border-radius: 8px;
            padding: 30px 25px;

            // display: flex;
            @media(max-width:770px) {
                display: flex;
                align-items: center;
            }

            // border: 1px solid;
            border: none;

            // Gradient border
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                padding: 1px;

                border-radius: inherit;

                background: linear-gradient(114.77deg,
                        rgba(74, 58, 255, 0.21) 10.62%,
                        rgba(74, 58, 255, 0) 78.23%);

                // Cut out the center so only the border remains
                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);

                -webkit-mask-composite: xor;
                mask-composite: exclude;

                pointer-events: none;
            }

            img {
                width: 50px;
                height: 50px;
                object-fit: contain;

            }

            .workSection_box_content {
                margin-top: 16px;

                @media(max-width:770px) {
                    padding-left: 20px;
                    margin-top: 0;

                }

                h2 {
                    font-size: 23px;
                    font-weight: 600;
                    color: #16151E;
                    margin-bottom: 10px;

                }

                p {
                    font-size: 15px;
                    color: #737373;
                }
            }


        }
    }
}

.BringResumeSection {
    background: #F9FAFC;
    padding: 90px 0 10px 0;

    .BringResumeSection_container {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;


        .BringResumeSection_header {
            margin-bottom: 80px;

            h2 {
                font-size: 72px;
                font-weight: 700;
                color: #16151E;

                max-width: 750px;
                width: 100%;
                margin: auto;

                margin-bottom: 21px;

                text-align: center;
                line-height: 1;

                @media (max-width:800px) {
                    font-size: 48px;

                }

            }

            p {
                font-size: 16px;
                color: #737373;

                max-width: 600px;
                width: 100%;
                margin: auto;

                line-height: 27px;

            }
        }

        .BringResumeSection_main {
            .BringResumeSection_row {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-bottom: 80px;
                gap: 60px;

                // align-items: center;
                @media(max-width:800px) {
                    grid-template-columns: 1fr;

                    .BringResumeSection_image {
                        order: 1;
                    }

                    .BringResumeSection_content {
                        order: 2;
                    }

                }

                .BringResumeSection_image {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .BringResumeSection_content {
                    padding-top: 40px;
                    // padding-left: 60px;

                    @media(max-width:800px) {
                        padding-left: 0;


                    }

                    h3 {
                        font-size: 40px;
                        font-weight: 700;
                        color: #16151E;
                        text-align: left;
                        margin-bottom: 22px;

                        @media (max-width:800px) {
                            font-size: 28px;

                        }
                    }

                    p {
                        font-size: 16px;
                        color: #737373;
                        text-align: left;
                        margin-bottom: 30px;
                    }

                    ul {
                        list-style: none;
                        text-align: left;


                        li {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            font-size: 16px;
                            color: #737373;
                            margin-bottom: 10px;

                            img {
                                width: 13px;
                                height: 13px;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }

    }
}

.everythingSection {
    padding: 90px 0;

    .everythingSection_title {
        text-align: center;
        padding-bottom: 31px;

        h2 {
            font-size: 72px;
            font-weight: 700;
            color: #16151E;

            max-width: 900px;
            width: 100%;
            margin: auto;

            margin-bottom: 21px;

            text-align: center;
            line-height: 1;

            @media (max-width:800px) {
                font-size: 48px;

            }

        }

        p {
            font-size: 16px;
            color: #737373;

            max-width: 480px;
            width: 100%;
            margin: auto;

            line-height: 27px;
            text-align: center;


        }
    }

    .everythingSection_boxes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @media(max-width:1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(max-width:800px) {
            grid-template-columns: 1fr;
            // align-items: center;
        }

        .everythingSection_box {
            border: 1px solid rgba(74, 58, 255, 20%);
            padding: 33px 30px;
            border-radius: 21px;

            @media(max-width:800px) {
                display: flex;
                align-items: center;
            }

            @media(max-width:500px) {
                padding: 20px 27px;
            }

            img {
                width: 46px;
                height: 46px;
                object-fit: contain;

                @media(max-width:500px) {
                    width: 38px;
                    height: 38px;
                }

            }

            .workSection_box_content {
                margin-top: 16px;

                @media(max-width:800px) {
                    padding-left: 20px;
                    margin-top: 0;

                }

                h2 {
                    font-size: 28px;
                    font-weight: 300;
                    color: #16151E;
                    margin-bottom: 12px;

                    @media(max-width:500px) {
                        font-size: 22px;
                    }


                }

                p {
                    font-size: 15px;
                    color: #737373;

                    @media(max-width:500px) {
                        font-size: 13px;
                    }
                }

            }
        }
    }
}

.pricingSection {
    background: #F9FAFC;
    padding: 90px 0;

    .everythingSection_title {
        margin-bottom: 42px;

        h2 {
            font-size: 60px;
            color: #16151E;
            text-align: center;
            margin-bottom: 14px;

            @media (max-width:800px) {
                font-size: 48px;

            }
        }

        p {
            font-size: 16px;
            color: #737373;
            text-align: center;
        }
    }

    .pricingSection_boxes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media(max-width:900px) {
            grid-template-columns: 1fr;


        }

        gap: 24px;

        .pricingSection_box {
            padding: 37px 33px;
            background: #fff;
            border: 1px solid rgba(74, 58, 255, 20%);

            border-radius: 21px;

            position: relative;

            h3 {
                font-size: 24px;
                color: #16151E;
                font-weight: 600;
                margin-bottom: 14px;
            }

            p {
                font-size: 13px;
                color: #737373;
                margin-bottom: 18px;
                max-width: 250px;
                width: 100%;

                @media(max-width:900px) {
                    max-width: none;
                }


            }

            .pricingSection_price {
                margin-bottom: 24px;

                h3 {
                    font-size: 40px;
                    font-weight: 700;

                    span {
                        font-size: 13px;
                        font-weight: 300;
                    }
                }
            }

            ul {
                list-style: none;
                text-align: left;
                margin-bottom: 48px;

                li {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-size: 13px;
                    color: #737373;
                    margin-bottom: 14px;

                    img {
                        width: 13px;
                        height: 13px;
                        object-fit: contain;
                    }
                }
            }

            .pricingSection_button {
                border: 1px solid #B2A2FF;
                border-radius: 20px;
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: center;
                padding: 13px 12px;
                color: #6544FF;
                background: #fff;
                font-size: 15px;
            }
        }

        // Featured card
        .pricingSection_box_featured {
            border: 3px solid #4A3AFF;

            border-radius: 21px;

            .pricingSection_recommended {
                background: #4A3AFF;
                padding: 5px 24px;
                border-radius: 22px;
                display: inline-block;
                position: absolute;
                top: -11px;
                left: 50%;
                transform: translateX(-50%);


                h5 {
                    font-weight: 300;
                    font-size: 11px;
                    color: #fff;

                }
            }

            .pricingSection_button {
                color: #fff;
                background: #6544FF;
                border-color: #6544FF;

                box-shadow: 0 7px 15px rgba(101, 68, 255, 0.25);

                &:hover {
                    background: #5736ed;
                }
            }
        }
    }
}


.faqSection {
    padding: 80px 0;

    .faqSection_box {
        .faqSection_title {
            h2 {
                font-size: 40px;
                color: #16151E;
            }

            h5 {
                font-size: 16px;
                color: #637381;
                font-weight: 400;

                a {
                    color: #637381;
                    text-decoration: underline;
                }
            }
        }
    }
}

footer {
    background: #000;
    padding: 89px 0 0 0;

    .footer_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .footer_logo {
            margin-bottom: 63px;

            a {
                img {
                    width: 230px;
                    height: 100%;
                    object-fit: contain;

                    @media(max-width:460px) {
                        width: 200px;
                    }
                }


            }

        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 36px;
            flex-wrap: wrap;
            margin-bottom: 42px;
            padding: 0 15px;

            @media(max-width:800px) {
                // flex-direction: column;
            }

            li {
                // font-size: 16px;

                a {
                    color: #EFEFEF;
                    font-size: 16px;

                    @media(max-width:800px) {
                        font-size: 13px;
                    }

                }
            }
        }


    }

    .footer_bottom {
        border-top: 1px solid rgba(255, 255, 255, 20%);
        text-align: center;
        padding: 23px 10px;

        p {
            color: #EFEFEF;
            font-size: 16px;
            @media(max-width:800px) {
                        font-size: 13px;
                    }
        }
    }
}